body { background-color: #F0FCFC; transition: .3s ease all; }

body.dark { background: #000A1A; }

.switch_cont { display: flex; justify-content: flex-end; margin: auto; }

.main { margin-top: 5%; max-width: 900px; margin-left: 20%; display: flex; align-items: center; }

.main .header_text { display: flex; align-items: center; justify-content: space-evenly; flex-direction: column; flex-wrap: wrap; font-family: "Roboto Mono", monospace; font-size: 15px; font-weight: medium; margin-top: 3%; margin-right: 20%; max-width: 700px; }

body.dark .main .header_text p { color: whitesmoke; }

.main .header_text .header_myname { font-family: "Bangers", cursive; font-size: 36px; }

body.dark .main .header_img { transition: .3s ease all; }

.icon_nav { max-width: 50%; margin-top: 5%; margin-left: 20%; display: flex; justify-content: space-evenly; }

body.dark .icon_nav #info_skills-img { box-sizing: border-box; width: 50px; height: 50px; content: url(../Assets/code_logo_darkmode.png); }

body.dark .icon_nav #info_projects-img { box-sizing: border-box; width: 50px; height: 50px; content: url(../Assets/logo_proyectos_darkmode.png); }

body.dark .icon_nav #info_hobbies-img { box-sizing: border-box; width: 50px; height: 50px; content: url(../Assets/Hobbies_darkmode.png); }

body.dark .icon_nav #info_github-img { box-sizing: border-box; width: 50px; height: 50px; content: url(../Assets/github_darkmode.png); }

.division-line { display: flex; background-color: black; height: 1px; margin-left: 20%; margin-top: 3%; width: 50%; }

body.dark .division-line { background-color: whitesmoke; }

.switch { background: orange; border-radius: 1000px; border: none; position: relative; cursor: pointer; display: flex; outline: none; }

.switch::after { content: ""; display: block; width: 30px; height: 30px; position: absolute; background: #F1F1F1; top: 0; left: unset; right: 0; border-radius: 100px; transition: .3s ease all; box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }

.switch.active { background: black; color: #000; }

.switch.active::after { right: unset; left: 0; }

.switch span { width: 30px; height: 30px; line-height: 30px; display: block; background: none; color: #fff; }

@media only screen and (max-width: 660px) { .division-line { margin-left: 0%; width: 100%; }
  .icon_nav { margin: auto; justify-content: space-around; padding: 0%; margin-top: 10px; max-width: 100%; }
  .main { padding-left: 5%; margin-right: 20%; flex-direction: column-reverse; text-align: center; } }

/* Bob */

@keyframes hvr-bob { 0% {
    transform: translateY(-8px); }
  50% {
    transform: translateY(-4px); }
  100% {
    transform: translateY(-8px); } }

@keyframes hvr-bob-float { 100% {
    transform: translateY(-8px); } }

.hvr-bob { display: inline-block; vertical-align: middle; transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active { animation-name: hvr-bob-float, hvr-bob; animation-duration: .3s, 1.5s; animation-delay: 0s, .3s; animation-timing-function: ease-out, ease-in-out; animation-iteration-count: 1, infinite; animation-fill-mode: forwards; animation-direction: normal, alternate; }

/* Pulse Grow */

@keyframes hvr-pulse-grow { to {
    transform: scale(1.1); } }

.hvr-pulse-grow { display: inline-block; vertical-align: middle; transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active { animation-name: hvr-pulse-grow; animation-duration: 0.3s; animation-timing-function: linear; animation-iteration-count: infinite; animation-direction: alternate; }

/* Buzz */

@keyframes hvr-buzz { 50% {
    transform: translateX(3px) rotate(2deg); }
  100% {
    transform: translateX(-3px) rotate(-2deg); } }

.hvr-buzz { display: inline-block; vertical-align: middle; transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active { animation-name: hvr-buzz; animation-duration: 0.15s; animation-timing-function: linear; animation-iteration-count: infinite; }

/* Wobble Horizontal */

@keyframes hvr-wobble-horizontal { 16.65% {
    transform: translateX(8px); }
  33.3% {
    transform: translateX(-6px); }
  49.95% {
    transform: translateX(4px); }
  66.6% {
    transform: translateX(-2px); }
  83.25% {
    transform: translateX(1px); }
  100% {
    transform: translateX(0); } }

.hvr-wobble-horizontal { display: inline-block; vertical-align: middle; transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active { animation-name: hvr-wobble-horizontal; animation-duration: 1s; animation-timing-function: ease-in-out; animation-iteration-count: 1; }

/* ------------------------- */
/* POPUP */
/* ------------------------- */
.overlay { background: rgba(0, 0, 0, 0.3); position: fixed; top: 0; bottom: 0; left: 0; right: 0; align-items: center; justify-content: center; display: flex; visibility: hidden; }

.overlay.active_pop { visibility: visible; }

.popup { background: #F8F8F8; box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); border-radius: 3px; font-family: "Roboto Mono", monospace; padding: 20px; text-align: center; width: 600px; transition: .3s ease all; transform: scale(0.7); opacity: 0; }

.popup .btn-cerrar-popup { font-size: 16px; line-height: 16px; display: block; text-align: right; transition: .3s ease all; color: #BBBBBB; }

.popup .btn-cerrar-popup:hover { color: #000; }

.popup h3 { font-family: "Bangers", cursive; font-size: 36px; font-weight: 600; margin-bottom: 10px; opacity: 0; text-align: center; }

.popup h5 { font-family: "Roboto Mono", monospace; font-size: 16px; font-weight: 300; margin-bottom: 40px; opacity: 0; }

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active_pop { transform: scale(1); opacity: 1; }

.popup.active_pop h3 { animation: entradaTitulo .8s ease .5s forwards; }

.popup.active_pop h5 { animation: entradaSubtitulo .8s ease .5s forwards; }

@keyframes entradaTitulo { from { opacity: 0;
    transform: translateY(-25px); }
  to { transform: translateY(0);
    opacity: 1; } }

@keyframes entradaSubtitulo { from { opacity: 0;
    transform: translateY(25px); }
  to { transform: translateY(0);
    opacity: 1; } }
