.main { margin-top: 5%; max-width: 900px; margin-left: 20%; display: flex; align-items: center; }

.main .header_text { display: flex; align-items: center; justify-content: space-evenly; flex-direction: column; flex-wrap: wrap; font-family: "Roboto Mono", monospace; font-size: 15px; font-weight: medium; margin-top: 3%; margin-right: 20%; max-width: 700px; }

.main .header_text .header_myname { font-family: "Bangers", cursive; font-size: 36px; }

.icon_nav { max-width: 50%; margin-top: 5%; margin-left: 20%; display: flex; justify-content: space-evenly; }

.division-line { display: flex; background-color: black; height: 1px; margin-left: 20%; margin-top: 3%; width: 50%; }

#info { font-family: "Roboto Mono", monospace; display: flex; max-width: 50%; margin-left: 20%; }

@media only screen and (max-width: 660px) { .division-line { margin-left: 0%; width: 100%; }
  .icon_nav { margin: auto; justify-content: space-around; padding: 0%; margin-top: 5; max-width: 100%; }
  .main { padding-left: 5%; margin-right: 20%; flex-direction: column-reverse; text-align: center; } }
